    <!-- Contact Section -->
    <section id="people" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>People</h2>
                <p><a href="http://cse.unl.edu/~dwyer/">Matt Dwyer</a>
                </p>
                <p><a href="http://cse.unl.edu/~mgerrard/">Mitch Gerrard</a>
            </div>
        </div>
    </section>